@import "reset";
@import "colors";
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Source+Sans+Pro:400,400i,600,700&subset=latin-ext');

$golden-ratio: 1.61803;
$base-font-size: 1rem;
$small-title:    $base-font-size * $golden-ratio;
$big-title:    $small-title * $golden-ratio;
$bullet-width: .7rem;
$small-bullet-width: calc($bullet-width / 2);
$bullet-margin: 2rem;
$progress-bar-height:        .5rem;

// Wide screens
// weasyprint doesn't support media queries :'( 

$title-width: 8rem;
$title-margin: 4rem;

@page {
  size: A4;
  margin: 1cm 1.5cm;
}



* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body                             {font-size: $base-font-size; padding: 1rem;
  line-height: 1.45; font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  }

@media screen { 
                body             {max-width: 960px; margin: 3rem auto;
                  background: $white; color: $black; padding: 1rem 4rem;}
                html             {font-size: 18px;
background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                }
              }

@media print  {
                html             {font-size: 12px;}
                a:link:after, 
                a:visited:after { 
                  content: " (" attr(href) ") "; 
                  font-size: 90%; 
                  text-decoration: none;
                  color: $black;
                }
              }


h1                               {font-size: $big-title; margin: $big-title 0;
  line-height: 1; color: $orange; margin-bottom: 5.5rem}

h1 span {
	font-size: .5em;
	display: block;
	color: $gray;
	text-align: right;
	width: $title-width + .82rem;
	margin-bottom: -1em;
}

h2                               {font-size: $small-title; margin: 1.618rem 0;
  line-height: 1; color: $orange; position: sticky; top: 0;}

h1, h2 {
    font-family: 'Archivo Narrow', sans-serif;
}


strong                           {font-weight: bold;}
em                                {font-weight: 600;}
td                               {padding-right: 1rem;}
p                               {margin: 2rem 0;}


.compact ul {
  $item-margin:                 .2rem;
  text-align: justify;
  li {
    display: inline-block;
    margin: 0 $item-margin;
    margin-bottom: .5rem;
    line-height: 1.2;
    padding: .15rem .3rem;
    background: #e9f0f3;
    border-radius:               .2rem;
  }
  margin-left:                  -$item-margin;
  margin-right:                  -$item-margin;

  em { font-size: .9rem}
  span { font-size: .8rem}
}

.progress {
  border:                      1px solid $black;
  width:                       3rem;
  height:                      $progress-bar-height;
  border-radius:               calc($progress-bar-height / 3);
  div                          {background: $gray; height: 100%}
}



h2 {
  float: left;
  width: $title-width;
  margin-top: 0;
  text-align: right;
}

h2 ~ * {
  padding-left: $title-width + $title-margin;
  margin: 1.618rem;
  margin-bottom: 1.618rem * 1.5;
}

#corner {
  position: absolute;
  top: 3.6180210809rem;
  right: 5.618rem;
  p {
    margin: 0;
  }
}

.cards {
  margin-top: -1rem;
  margin-left: 0.5rem;

  ul {
    display: flex;

    li {
      flex-basis: 100%;
      margin-left: 1em;

      a {
        font-size: .6rem;
        font-size: calc(.9rem);
        height: 9rem;
        height: calc(10rem);
        padding: .5rem;
        padding-bottom: 1rem;
        padding-bottom: calc(.5rem);
        overflow: hidden;
        display: flex;
        background: #e9f0f3;
        flex-direction: column;
        text-decoration: none;
        color: inherit;

        .img {
          align-self: center;
          display: block;
          width: 10rem;
          width: calc(100%);
          height: 32px;
          height: calc(64px);
          object-fit: cover;
          background-size: cover;
          background-position: center center;
          margin-bottom: 1rem;
        }

        >* {
          display: flex;

          &:nth-child(2) {
            font-size: .7rem;
            font-size: calc(.9rem);
            font-weight: 600;
          }

          &:nth-child(3) {
            font-size: .65rem;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.timeline {
  p {
    margin: 0;
  }

  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    background: silver;
    width: 2px;
    left: $bullet-width + $title-width + $title-margin;
    top: 0;
    bottom: 0;
  }

  // bullet
  li:before {
    margin-left: 1px;
    position: absolute;
    left: $bullet-width + $title-width + $title-margin - calc($bullet-width / 2);
    content: "";
    display: block;
    background: $gray;
    border: 1px solid $black;
    width: $bullet-width;
    height: $bullet-width;
    border-radius: $bullet-width;
    box-sizing: border-box;
    margin-top: .5rem;
  }

  li li:before {
    left: $title-width + $title-margin - calc($small-bullet-width / 2) + $bullet-width;
    width: $small-bullet-width;
    height: $small-bullet-width;
    border-radius: $small-bullet-width;
    background: $black;
  }

  >ul>li {
    margin-left: $bullet-width + $bullet-margin;
    margin-top:  1rem;
    margin-bottom:  1rem;
    padding: .5rem 1rem;
    background: #e9f0f3;
  }

  li ul li {
    margin-bottom: 1rem;
  }

  li p, li li {
    font-size: 1rem;
  }

  li>:first-child {
    font-size: 1rem;
    font-weight: 600;
  }

  li li>:first-child {
    font-size: 1rem;
  }

  .time {
    font-size: .8rem;
    font-weight: normal;
    position: absolute;
    height: 100%;
    display: inline-block;
    left: $title-width;
    width: $title-margin;
    text-align: right;

    span {
      display: inline-block;
    }
  }
}

/* Can't do mobile first because of weasyprint :( */
@media screen and (max-width: 850px) {
  h2 {
    width: auto;
    float: none;
    position: static;
    text-align: left;
  }

  h2 ~ * {
    padding-left: 0;
  }

  .timeline:before {
    left: $bullet-width;
  }

  .timeline li:before {
    left: $bullet-width - calc($bullet-width / 2);
  }
  .timeline li li:before {
    left: - calc($small-bullet-width / 2) + $bullet-width;
  }

  .timeline .time {
    margin-top: 2rem !important;
    left: 0 - $bullet-margin * 2;
    height: 3em;
    background: #f9f9f9;
    z-index: 1000;
  }

  .progress {
    width:                       8rem * calc(2 / 3);
  }
}

@media screen and (max-width: 700px) {
#corner {
  position: static;
  p {
    margin: 2rem 0;
  }
}

h1 {
  margin-bottom: $big-title;
}
}

@media screen and (max-width: 500px) {
  html {
    font-size: 16px;
  }

  body {
    padding: .5rem .5rem;
  }

  .timeline .time {
    left: 0 - $bullet-margin;
    margin-top: 1rem;
  }

  .progress {
    width:                       3rem;
  }

}

// Color adjustments for print

.timeline, .progress, .compact {
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
}

.top-button {
  font-size: .8rem;
  position: fixed;
  top: .5rem;
  right: 1rem;
  color: inherit;
  text-decoration: none;
  background: $white;
  padding: .1rem .3rem;
  border-radius: .3rem;
  background: -webkit-linear-gradient(top,$white,#e3e3e3);
  background: -o-linear-gradient(top,$white,#e3e3e3);
  background: -moz-linear-gradient(top,$white,#e3e3e3);
  background: linear-gradient(to bottom, $white, #e3e3e3);
  box-shadow: 1px 2px 4px 1px #0000004d;
  z-index: 10000;

  img {
    display: inline-block;
    width: .8rem;
    height: .8rem;
    margin-bottom: -.1rem;
  }

  &:active {
    background: -webkit-linear-gradient(top,#e3e3e3,#e3e3e3);
    background: -o-linear-gradient(top,#e3e3e3,#e3e3e3);
    background: -moz-linear-gradient(top,#e3e3e3,#e3e3e3);
    background: linear-gradient(to bottom, #e3e3e3, #e3e3e3);
    box-shadow: 0 0 0 black;
  }
}

@media print {
  .top-button {
    display: none;
  }
}



div p {
	margin-bottom: 0;
}

p ~ ul {
    margin-top: .8em;
}

.progress-tables {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  table {
    float: left;
    width: 210px;
    &:first-child { margin-right: 1rem; }

    tr {
      td {
        font-size: .9rem;
      }
    }
  }
}

