@layer utilities {

  .pos_relative {
    position: relative
    }

  .max-w_8xl {
    max-width: var(--sizes-8xl)
    }

  .mx_auto {
    margin-inline: auto
    }

  .px_4 {
    padding-inline: var(--spacing-4)
    }

  .bg_silver {
    background: silver
    }

  @media screen and (min-width: 48em) {
    .md\:px_6 {
      padding-inline: var(--spacing-6)
    }
        }

  @media screen and (min-width: 64em) {
    .lg\:px_8 {
      padding-inline: var(--spacing-8)
    }
        }
}